<h1>Issue Statistics</h1>
<p>
  Currently showing statistics of issues that created between <b><%= params[:issuestats][:start_date] %></b> and <b><%= params[:issuestats][:end_date] %></b>.
  <br>
  Intervention status: <b><%= @intervention_statusname %></b>
  Expected intervention time: <b><%= @intervention_time %>mins</b>.
  <br>
  Resolve status: <b><%= @resolve_statusname %></b>
  Expected resolve time: <b><%= @resolve_time %>mins</b>.
  <br>
</p>


<h2>Trackers vs Statuses</h2>

<table border="1" width="100%">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan=<%= @status_ids.length+1%>>STATUS</th>
    </tr>

    <tr>
      <th></th>
      <th></th>
      <% @status_ids.each do |status_id| %>
        <th>
          <%= IssueStatus.find_by_id(status_id) %>
        </th>
      <% end %>
      <th>All</th>
    </tr>
  </thead>

  <tr>
    <th rowspan=<%= @trackers.length+2%>>TRACKERS</th>
    <% @trackers.each do |tracker| %>
      <tr>
        <th><%= tracker.name %></th>
        <% @status_ids.each do |status_id| %>
          <td>
            <% @priorities.each do |priority| %>
              <%= priority.name %>: <%= @issues.where(:tracker_id => tracker.id).where(:status_id => status_id).where(:priority_id => priority.id).length %>
              <br>
            <% end %>
          </td>
        <% end %>
        <td>
          <% @priorities.each do |priority| %>
            <%= priority.name %>: <%= @issues.where(:tracker_id => tracker.id).where(:priority_id => priority.id).length %>
            <br>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th>All</th>
      <% @status_ids.each do |status_id| %>
        <td>
          <% @priorities.each do |priority| %>
            <%= priority.name %>: <%= @issues.where(:status_id => status_id).where(:priority_id => priority.id).length %>
            <br>
          <% end %>
        </td>
      <% end %>
      <td>
        <% @priorities.each do |priority| %>
          <%= priority.name %>: <%= @issues.where(:priority_id => priority.id).length %>
          <br>
        <% end %>
      </td>
    </tr>
  </tr>
</table>

<br>
<h2>Time analyze on Trackers vs Priorities</h2>

<table border="1" width="100%">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan=<%= @priorities.length+1%>>PRIORITIES</th>
    </tr>

    <tr>
      <th></th>
      <th></th>
      <% @priorities.each do |priority| %>
        <th>
          <%= priority %>
        </th>
      <% end %>
      <th>All</th>
      <th>Average (min)</th>
    </tr>
  </thead>

  <tr>
    <th rowspan=<%= @trackers.length+2%>>TRACKERS</th>
    <% @trackers.each do |tracker| %>
      <tr>
        <th><%= tracker.name %></th>
        <% @priorities.each do |priority| %>
          <td>
            <% issues_t_p = @issues.where(:tracker_id => tracker.id).where(:priority_id => priority.id) %>
            <% results = get_time_statistics(issues_t_p, @intervention_time, @resolve_time, @intervention_status, @resolve_status) %>
            <% results.each do |result| %>
              <%= result %><br>
            <% end %>
          </td>
        <% end %>
        <td>
          <% issues_t = @issues.where(:tracker_id => tracker.id) %>
          <% results = get_time_statistics(issues_t, @intervention_time, @resolve_time, @intervention_status, @resolve_status) %>
          <% results.each do |result| %>
            <%= result %><br>
          <% end %>
        </td>
        <td>
          <% issues_t = @issues.where(:tracker_id => tracker.id) %>
          <% results = get_time_averages(issues_t, @intervention_time, @resolve_time, @intervention_status, @resolve_status) %>
          <% results.each do |result| %>
            <%= result %><br>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th>All</th>
      <% @priorities.each do |priority| %>
        <td>
          <% issues_p = @issues.where(:priority_id => priority.id) %>
          <% results = get_time_statistics(issues_p, @intervention_time, @resolve_time, @intervention_status, @resolve_status) %>
          <% results.each do |result| %>
            <%= result %><br>
          <% end %>
        </td>
      <% end %>
      <td>
        <% results = get_time_statistics(@issues, @intervention_time, @resolve_time, @intervention_status, @resolve_status) %>
        <% results.each do |result| %>
          <%= result %><br>
        <% end %>
      </td>
      <td>
        <% results = get_time_averages(@issues, @intervention_time, @resolve_time, @intervention_status, @resolve_status) %>
        <% results.each do |result| %>
          <%= result %><br>
        <% end %>
      </td>
    </tr>
  </tr>
</table>

<br>
<h2>Issue details</h2>

<table border="1" width="100%">
  <thead>
    <tr>
      <th>Issue Id</th>
      <th>Issue Subject</th>
      <th>Intervention Time (h)</th>
      <th>Resolve Time (h)</th>
    </tr>
  </thead>

    <tr>
      <% @issues.each do |issue| %>
        <tr>
          <th><%= link_to Tracker.find(issue.tracker_id).name.to_s + " #" + issue.id.to_s, issue_path(issue) %></th>
          <td><%= issue.subject %></td>
          <td>
            <% int_time = get_issue_intervention_time(issue, @intervention_status) %>
            <% if int_time == "Not intervened" %>
              <%= int_time %>
            <% else %>
              <%= (int_time.to_f/60).round(2) %>
            <% end %>
          </td>
          <td>
            <% res_time = get_issue_resolve_time(issue, @intervention_status, @resolve_status) %>
            <% if res_time == "Not resolved" %>
              <%= res_time %>
            <% else %>
              <%= (res_time.to_f/60).round(2) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tr>

</table>
