<h1><%= l(:issuestats_title)%></h1>

<div class="issuestats_info">
  <p>
    <%= l(:issuestats_info_between) %> <b><%= params[:issuestats][:start_date] %></b> , <b><%= params[:issuestats][:end_date] %></b><br>
    <%= l(:issuestats_intervention_status) %> <b><%= @intervention_statusname %></b>
    <%= l(:issuestats_intervention_time_min) %> <b><%= @intervention_time %></b><br>
    <%= l(:issuestats_resolve_status) %> <b><%= @resolve_statusname %></b>
    <%= l(:issuestats_resolve_time_min) %> <b><%= @resolve_time %></b><br>
  </p>
</div>


<h2><%= l(:issuestats_trackers_vs_statuses) %></h2>

<table border="1" width="100%">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan=<%= @status_ids.length+1%>><%= l(:issuestats_title_statuses) %></th>
    </tr>

    <tr>
      <th></th>
      <th></th>
      <% @status_ids.each do |status_id| %>
        <th>
          <%= IssueStatus.find_by_id(status_id) %>
        </th>
      <% end %>
      <th><%= l(:issuestats_all_statuses) %></th>
    </tr>
  </thead>

  <tr>
    <th rowspan=<%= @trackers.length+2%>><%= l(:issuestats_title_trackers) %></th>
    <% @trackers.each do |tracker| %>
      <tr>
        <th><%= tracker.name %></th>
        <% @status_ids.each do |status_id| %>
          <td>
            <% @priorities.each do |priority| %>
              <%= priority.name %>: <%= @issues.where(:tracker_id => tracker.id).where(:status_id => status_id).where(:priority_id => priority.id).length %>
              <br>
            <% end %>
          </td>
        <% end %>
        <td>
          <% @priorities.each do |priority| %>
            <%= priority.name %>: <%= @issues.where(:tracker_id => tracker.id).where(:priority_id => priority.id).length %>
            <br>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th><%= l(:issuestats_all_trackers) %></th>
      <% @status_ids.each do |status_id| %>
        <td>
          <% @priorities.each do |priority| %>
            <%= priority.name %>: <%= @issues.where(:status_id => status_id).where(:priority_id => priority.id).length %>
            <br>
          <% end %>
        </td>
      <% end %>
      <td>
        <% @priorities.each do |priority| %>
          <%= priority.name %>: <%= @issues.where(:priority_id => priority.id).length %>
          <br>
        <% end %>
      </td>
    </tr>
  </tr>
</table>

<br>
<h2><%= l(:issuestats_time_analyze_trackers_priorities) %></h2>

<table border="1" width="100%">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan=<%= @priorities.length+1%>><%= l(:issuestats_title_priorities) %></th>
    </tr>

    <tr>
      <th></th>
      <th></th>
      <% @priorities.each do |priority| %>
        <th>
          <%= priority %>
        </th>
      <% end %>
      <th><%= l(:issuestats_all_priorities) %></th>
      <th><%= l(:issuestats_average_min) %></th>
    </tr>
  </thead>

  <tr>
    <th rowspan=<%= @trackers.length+2%>><%= l(:issuestats_title_trackers) %></th>
    <% @trackers.each do |tracker| %>
      <tr>
        <th><%= tracker.name %></th>
        <% @priorities.each do |priority| %>
          <td>
            <% issues_t_p = @issues.where(:tracker_id => tracker.id).where(:priority_id => priority.id) %>
            <% results = get_time_statistics(issues_t_p, @intervention_time, @resolve_time, @intervention_status, @resolve_status) %>
            <% results.each do |result| %>
              <%= result %><br>
            <% end %>
          </td>
        <% end %>
        <td>
          <% issues_t = @issues.where(:tracker_id => tracker.id) %>
          <% results = get_time_statistics(issues_t, @intervention_time, @resolve_time, @intervention_status, @resolve_status) %>
          <% results.each do |result| %>
            <%= result %><br>
          <% end %>
        </td>
        <td>
          <% issues_t = @issues.where(:tracker_id => tracker.id) %>
          <% results = get_time_averages(issues_t, @intervention_time, @resolve_time, @intervention_status, @resolve_status) %>
          <% results.each do |result| %>
            <%= result %><br>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th><%= l(:issuestats_all_trackers) %></th>
      <% @priorities.each do |priority| %>
        <td>
          <% issues_p = @issues.where(:priority_id => priority.id) %>
          <% results = get_time_statistics(issues_p, @intervention_time, @resolve_time, @intervention_status, @resolve_status) %>
          <% results.each do |result| %>
            <%= result %><br>
          <% end %>
        </td>
      <% end %>
      <td>
        <% results = get_time_statistics(@issues, @intervention_time, @resolve_time, @intervention_status, @resolve_status) %>
        <% results.each do |result| %>
          <%= result %><br>
        <% end %>
      </td>
      <td>
        <% results = get_time_averages(@issues, @intervention_time, @resolve_time, @intervention_status, @resolve_status) %>
        <% results.each do |result| %>
          <%= result %><br>
        <% end %>
      </td>
    </tr>
  </tr>
</table>

<br>
<h2><%= l(:issuestats_issue_details) %></h2>

<table border="1" width="100%">
  <thead>
    <tr>
      <th><%= l(:issuestats_issue_tracker_id) %></th>
      <th><%= l(:issuestats_issue_subject) %></th>
      <th><%= l(:issuestats_intervention_time_h) %></th>
      <th><%= l(:issuestats_resolve_time_h) %></th>
    </tr>
  </thead>

    <tr>
      <% @issues.each do |issue| %>
        <tr>
          <th><%= link_to Tracker.find(issue.tracker_id).name.to_s + " #" + issue.id.to_s, issue_path(issue) %></th>
          <td><%= issue.subject %></td>
          <td>
            <% int_time = get_issue_intervention_time(issue, @intervention_status) %>
            <% if int_time == (-1) %>
              <%= l(:issuestats_not_intervened) %>
            <% else %>
              <%= (int_time.to_f/60).round(2) %>
            <% end %>
          </td>
          <td>
            <% res_time = get_issue_resolve_time(issue, @intervention_status, @resolve_status) %>
            <% if res_time == (-1) %>
              <%= l(:issuestats_not_resolved) %>
            <% else %>
              <%= (res_time.to_f/60).round(2) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tr>

</table>
